@charset 'utf-8';

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

body {
    overflow-x: hidden;
    color: rgb(29, 29, 31);
    letter-spacing: -0.05em;
    /* background: rgb(29, 29, 31); */
    background: #000;
}

p {
    line-height: 1.6;
}

a {
    color: rgb(29, 29, 31);
    text-decoration: none;
}

h1 {
    font-size: 1.4rem;
    color: #fff;
}

.container {
    /* iPhone 가로 스크롤 방지 */
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 10rem; 
}

.header {
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.header > a {
    display: block;
}


.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.section > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

.section > div > h2 {
    color: #fff;
    font-size: 3rem;
}

.homeImg {
    height: 40rem;
}

.keyringImg {
    height: 40rem;
}